* {
    margin: 0;
    padding: 0;
}

/* Header 1 */

.logo-1 {
    font-family: sans-serif;
}

.header-basic {
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 56px;
}

.header-basic {
    & nav {
        display: flex;
        gap: 0.5rem;

        & a {
            text-decoration: none;
        }
    }

    & .nav-links {
        & a {
            color: rgb(22, 22, 22);
            font-family: sans-serif;
        }
    }

    & .nav-sign {
        & a {
            border-radius: 10%;
            padding: 5px;
        }

        & .login {
            background-color: rgb(201, 205, 202);
            color: rgb(22, 22, 22);
            font-weight: 600;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        & .signup {
            background-color: white;
            color: rgb(22, 22, 22);
            font-weight: 600;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}

.active {
    font-weight: 600;
    border-bottom: 1px solid black;
}

.separador {
    height: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

/* Fim do Header 1 */

/* Header 2 */
.header-login {
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo-2 {
        margin-left: 2rem;
        width: 80px;
    }

    & nav {
        margin-right: 2rem;
    }

    & div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        & input {
            height: 20px;
            padding: 6px;
            width: 240px;
            border: 2px solid black;
            border-radius: 1rem;
            font-family: sans-serif;
            font-style: italic;
        }

        & button {
            border: none;
        }

        & button:hover {
            cursor: pointer;
        }
    }

}